# --- PyPI packages actually imported by lightcurve_gen ---
numpy
pandas
h5py
astropy
scipy
scikit-image
tqdm
microlensing        # provides microlensing.IPM.ipm.IPM
# rubin-scheduler      # dependency of rubin_sim_pipeline (see note below)
# rubin-sim            # dependency of rubin_sim_pipeline (see note below)
# for rubin sim please follow instructions here: https://rubin-sim.lsst.io/installation.html
photerr             # LsstErrorModel -- used for the Rubin cadence's photometric error, only imported when --include_rubin/--rubin_only actually generates a rubin_cadence group

# --- AMOEBA: install from the dev branch, not PyPI ---
git+https://github.com/Henry-Best-01/Amoeba.git@dev

